body {
  overflow-x: hidden;
}


.v {
  &-toolbar {
    &__title {
      cursor: pointer;
    }
  }

  &-footer {
    .footer-text {
      color: #5c5d5f;
    }
  }
  
}


img {
  max-width: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
